{% if filterForm %}


    {% set popoverContent %}
        {% set filtersCount = 0 %}
        <dl>
            {% for field,value in filterForm.vars.value %}
                {% if value | length %}
                    <dd>{{ field }}</dd>
                    <dt>
                        {% if value is iterable %}
                            <ul>
                                {% for item in value %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul><li>{{ value }}</li></ul>
                        {% endif %}
                    </dt>
                    {% set filtersCount = filtersCount + 1 %}
                {% endif %}
            {% endfor %}
        </dl>
        {% if not filtersCount %}nessun filtro{% endif %}
    {% endset %}


    {% if filtersCount %}
        <button class="btn btn-warning float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <span data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" title="Filtri attivi" data-bs-content="{{ popoverContent|e('html_attr') }}">Filtri attivi!</span>
        </button>

    {% else %}
        <button class="btn btn-outline-primary float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            Cerca...
        </button>
    {% endif %}



    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Filtri di ricerca</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% form_theme filterForm 'bootstrap_5_layout.html.twig' %}
            {{ form_start(filterForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(filterForm) }}
                <div>
                    <button type="submit" class="btn btn-outline-primary float-end">Cerca</button>
                    <a href="{{ path(baseRouteName~'_list') }}?filter_reset=1" class="btn btn-outline-secondary">Reset</a>
                </div>
            {{ form_end(filterForm) }}
        </div>
    </div>
{% endif %}