{% extends '@KikwikAdmink/base.html.twig' %}

{% block title %}Modifica {{ singularName }} {{ object | striptags }}{% endblock %}

{% block body %}
    <h1>Modifica {{ singularName }} {{ object }}</h1>

    {{ include(['admink/'~baseRouteName~'/_form.html.twig','@KikwikAdmink/crud/_form.html.twig'], { form: form }) }}
{% endblock %}
