{% extends '@KikwikAdmink/base.html.twig' %}

{% block title %}Elenco {{ pluralName }}{% endblock %}

{% block body %}
    <h1>Elenco {{ pluralName }}</h1>
    <div class="actions mb-3">
        {% if exportFields %}
            <a class="btn btn-outline-secondary float-end" href="{{ path(baseRouteName~'_export') }}"><i class="bi bi-filetype-csv"></i> Esporta</a>
        {% endif %}
        <a class="btn btn-outline-primary" href="{{ path(baseRouteName~'_new') }}"><i class="bi bi-plus-circle"></i> Aggiungi</a>
    </div>

    {{ include(['admink/'~baseRouteName~'/_filters.html.twig','@KikwikAdmink/crud/_filters.html.twig'], { filter: filter }) }}

    <p>{{ pager.nbResults }} {{ pluralName }}</p>
    <div class="table-responsive small">
        <table class="table table-hover table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Azioni</th>
                    {% for fieldName, label in listFields %}
                        <th>{{ label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for object in pager %}
                    <tr>
                        <td class="actions">
                            <a href="{{ path(baseRouteName~'_edit', { id: object.id }) }}"><i class="bi bi-pencil-fill"></i></a>
                        </td>
                        {% for fieldName, label in listFields %}
                            <td>{{ include(['admink/'~baseRouteName~'/_display_'~fieldName~'.html.twig','@KikwikAdmink/crud/_displayValue.html.twig'], { object: object, fieldName: fieldName }) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagerfanta(pager) }}
{% endblock %}