<ul class="nav nav-pills">
    <li class="nav-item dropdown">
        {% if is_granted('IS_AUTHENTICATED') %}
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="bi bi-person-circle"></i> {{ app.user.nome }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item">{{ app.user.nome }} {{ app.user.cognome }}</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="dropdown-item" href="{{ path('kikwik_admink_dashboard') }}"><i class="bi bi-gear"></i> Admin</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{{ path('app_home') }}"><i class="bi bi-house"></i> Home</a></li>
                <li><a class="dropdown-item" href="{{ path('kikwik_user_password_change') }}"><i class="bi bi-key"></i> {{ 'change_password.title'|trans({},'KikwikUserBundle') }}</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
            </ul>
        {% else %}
            <a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-box-arrow-right"></i> Login</a>
        {% endif %}
    </li>
</ul>